#home {
  width: 90%;
  margin: 0px 5% 20px 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#home img {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: auto;
}

#home h4 {
  font-size: 150%;
  color: #0A3138;
}

#home .search-bar {
  width: 96%;
  margin: 2%;
  text-align: center;
}

#home-page-search {
  width: 60%;
  margin: 0;
  padding: 1%;
  font-size: 1em;
}

#home p {
  margin: 2%;
  text-align: center;
  color: #808080;
  line-height: 1.5em;
}

#home h4 {
  margin: 2%;
  text-align: center;
}

#home button {
  font-size: 1em;
  padding: 0.5%;
  width: 20%;
}

@media only screen and(min-width: 640px) {

}
