#results {
  display: none;
  width: 90%;
  margin: 0px 5% 20px 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-results {
  text-align: left;
  width: 96%;
  margin: 5px 2% 5px 2%;
}

.search-results li {
  vertical-align: top;
  display: inline-block;
  margin: 10px 3% 10px 3%;
  height: 175px;
  overflow-y: auto;
  width: 35%;
  word-wrap: break-word;
  border: 1px solid #0B314F;
  padding: 3% 3% 10% 3%;
  text-align: center;
}

.search-results li a {
  display: block;
}

li h3 {
  text-align: center;
  margin-bottom: 5px;
}

li p {
  margin-bottom: 3px;
}

#results input {
  width: 20%;
}

@media only screen and (min-width: 640px) {
  .search-results li{
    height: 125px;
  }
}
