#single-park {
  display: none;
  width: 90%;
  margin: 0px 5% 20px 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#single-park form {
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0A3138;
  color: #f7f2f2;
}

#single-park h3 {
  text-align: center;
  margin-top: 15px;
}
form * {
  vertical-align: middle;
}

#park-info {
  width: 96%;
  margin: 5px 2% 5px 2%;
}

#park-info h2 {
  text-align: center;
}

#park-info img {
  width: 50%;
  margin-left: 25%;
  margin-right:25%;
  margin-bottom: 25px;
}

#park-info p {
  margin-bottom: 15px;
  text-align: center;
}

#park-info a:hover {
  color: #0A3138;
}

#review-info {
  line-height: 1.5em;
  margin-top: 40px;
}

#review-info p {
  margin-bottom: 30px;
  border-bottom: solid thin black;
  color: #808080;
}
